body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: coral;
}


.reg-navbar{
    background-color: rgb(235 82 82);
    color: black;
    height: 44px;
    border: 2px solid ;
    /* border-radius: 11px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    width: 99%;

}

.logo{
        
        display: flex;
        justify-content: center;
        align-items: center;
      
    
}

.logo-img{
    aspect-ratio: 3/2;
    margin-top:20px ;
    

}

img{
    height: 180x;
    width: 170px;
}
 .logo h2 {
    
    height: 10px;
}

input {
     width: 92%;
     border: 2px solid;
     height: 24px;
     padding: 5px;
     margin: 7px;
     border-radius: 10px;
     font-size: 1rem;
     color: rgb(0, 0, 0);
     font-weight: 500;


     background-color: rgb(211, 86, 86);


}

::placeholder{
    color: black;
    padding-left:7px ;
}

.butoom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    

}

button{
    background-color: rgb(0, 0, 0);
    font-size: 24px;
    color: rgb(255, 1, 1);
    padding: 5px;
    width: 100px;
    border-radius: 12px;
border: 2px solid white;
}

.register{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
p.login{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
   
}

#login-buton{
    width: 340px;
    height: 48px;
   color: blue;
   text-decoration: none;
   text-decoration-line:none ;
}

a{
    text-decoration: none;
    color: blue;
    font-weight: 500;
}
#abhogaloss{
    height: 400px;
    width: 100%;
    color: cornflowerblue;
}
.mobile-number{
    
    display: flex;
    justify-content: center;
    align-items: center;

}

span{
    color: rgb(0, 0, 0);
    background-color: rgb(230, 30, 30);
    padding: 5px;
    border: 2px solid rgb(0, 0, 0);
     border-radius:12px ;
     font-weight: 600;
    font: italic;
    height: 24px;
    width: 28px;
    margin-left:5px ;

}

.mob{
    width: 79.5%;
}

input[type="submit"]{
    height: 44px;
    background-color: rgb(0, 0, 0);
    color: blue;
    width: 121px;
    font-weight: 500;
}

.subm{
    display: flex;
    justify-content: center;
    align-items: center;
    
}